html{
  width:100%;
  height:100%;
  }
  body{
    width:100%;
    height:100%;
    overflow-x: hidden;
}
a, u{
  color:inherit;
  text-decoration: none !important;
  outline: none !important;
}
div, button{
  outline: none !important;
}
#info-que{
  font-family: 'Chela One', cursive;
}
#activity-button1{
  font-family: 'Oswald', sans-serif;
}
#activity-button2{
  font-family: 'Oswald', sans-serif;
}

.headblock{
  z-index:150;
  background-color:rgba(0, 0, 0,1);
  color:white;
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0,0.2);
  top:0px;
  height:auto;
}
.header-row{
  position: relative;
  top:15%;
}
.account-control{
  position: relative;
  margin-top: 100px;
  background-color: rgb(242, 242, 242);
  color:black;
  padding:10px;
  border-radius:10px;
}
.head-box{
  position: relative;
  display: block;
  margin: auto;
  cursor: pointer;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

.home{
  height:100%;
  width:100%;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.log-head{
  color:white;
}
.crd{
  position: relative;
  display:block;
   margin:auto;
}
.login-form{
  position: relative;
  display:block;
  padding:10px;
  background-color: rgba(0,0,0,0.8);
  border: solid black 1px;
  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2);
}
.errmsg{
  color:red;
}
.forgot-password-form{
  position: relative;
  display:block;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
  padding:10px;
  background-color: rgba(0,0,0,0.8);
  border: solid black 1px;
  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2);
}
@media only screen and (max-width:767px){
  #headblock{
    position: relative;
    transition:all 0.5s;
    padding:20px;
  }
  .store{
    padding-top:34%;
  }
  .myads-section{
    padding-top:34%;
  }
  .main-heading{
    font-size: 1.6em;
  }
  
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .login-form{
    top:60%;
  }
  .forgot-password-form{
    top:75%;
  }
  .signup-form{
    position: relative;
    display:block;
    top:5%;
    padding:10px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
   }
   .add-form{
     position: relative;
     display:block;
     padding:10px;
     box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.2);
     background-color: rgba(0,0,0,0.8);
     border-radius: 5%;
   }
   .ad-pic{
    width:70%;
    height:180px;
    margin:auto;
    border-radius:7%;
  }
   .side-scrl{
     position:fixed;
     right:0px;
     width:9%;
     height:6%;
     background-color: black;
     border: solid black 0px;
     border-top-left-radius: 25%;
     border-bottom-left-radius:  25%;
     box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
     cursor:pointer;
     bottom:250px;
     transition:all 0.5s;
     color:white;
   }
   .profile-activity-box-desktop{
     display:none;
   }
   .side-scrl:hover{
      background-color: grey;
      transform:rotateX(360deg);
    }
    .profile-info-know-more{
      position: relative;
      border-radius:10px;
      background-color:rgba(0,0,0,0.8);
      color: white;
      height:auto;
      overflow: hidden;
      padding: 20px;
      box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);
      width:100%;
      top:10px;
    }
    .know-more-inner{
      padding:7%;
    }
    .footer-img{
      position: relative;
      width:17%;
      height:auto;
      padding:4px;
    }
    .footer-heading{
      font-weight:500;
      color:rgb(66, 64, 64);
      font-size:0.8em;
      display:none;
    }
    .footer-text{
      padding-top: 5px;
      color:rgb(182, 180, 180);
      font-size:0.7em;
    }
    .footer-icons{
      color:rgb(182, 180, 180) !important;
      cursor:pointer;
      font-size:1.2em;
      margin:3px;
      transition: all 0.3s;
    }
    .footer-logo{
      position: relative;
      width:70%;
      height: auto;
    }
    .header-logo{
      position: relative;
      width:65%;
      padding-bottom:5px;
      height: auto;
    }
    /*SEARCH
========*/

.input-search{
  width:60%;
  display: inline;
  box-shadow:inset 0px 0px 2px 2px rgba(0,0,0,0.3) !important;
  border:none;
  border-top-left-radius:2px !important;
  border-bottom-left-radius:2px !important;
  padding-top:2px !important;
  padding-bottom:3px !important;
  padding-left:8px !important;
  padding-right:8px !important;
}
.btn-search{
  position: relative;
  border:none;
  right:4px;
  padding-left:10px !important;
  padding-right:10px !important;
  border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  display: inline;
}
.search-form{
  width:80%;
  display: inline;
}
.menu-mobile{
  position: relative;
  left:20px;
  font-size:0.8em;
  padding-left:9px;
  padding-right:9px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:white;
  color:black;
  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2);
  cursor:pointer;
  border-radius:50%;
}
.menu-mobile-con{
  position: fixed;
  width:0px;
  height:100%;
  transition: all 0.1s;
  z-index:1000;
  overflow:hidden;
  background-color:rgba(251,251,251,0.9);
}
.mob-link{
  transition: all 0.3s;
  opacity:0;
}
.mob-menu-list{
  cursor:pointer;
  position: relative;
  list-style: none;
  margin:auto;
  right:8%;
}
.mob-menu-list-element{
   margin:12px;
   font-weight: 400;
   color:black;
   padding:3px;
   transition:all 0.5s;
}
.mob-menu-con-text{
  position: relative;
  color:rgb(65, 61, 61);
  font-size:0.8em;
  top:100px;
}
.mob-menu-close-icon{
  position: absolute;
  right:30px;
  top:23px;
  padding:5px;
  transition: all 0.5s;
}
.mob-menu-close-icon:hover{
  background-color: rgba(0, 0, 0,1);
  color:white;
}
.mob-menu-list-element:hover{
 background-color: rgba(0, 0, 0,1);
 color:white;
}
.profile-info{
  position: relative;
  border-radius:10px;
  background-color:rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);
  white-space: nowrap;
  margin-bottom:5px;
}
/*EDIT PROFILE SECTION 
======================*/

.edit-profile{
  width:100%;
  padding:10px;
  height:auto;
  font-size:0.8em;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.edit-row{
  position: relative;
  top:16%;
}
.edit-label{
  position: relative;
  display:block;
  margin-top:2%;
  font-size: 1.0em;
  top:12px;
}
.edit-submit{
  position:relative;
  right:33%;
}
.report-btn{
  position: relative;
  z-index:10;
  top:10px;
}
.ev_info{
  position: fixed;
  display:none;
  z-index:500;
  width:80%;
  background-color: rgba(251,251,251,0.9);
  height:80vh;
  overflow-y:auto;
  overflow-x:hidden;
  margin:auto;
  left:0px;
  right:0px;
  bottom:0px;
  bottom:10%;
  padding:10px;
}
.tute-screend{
  display:none;
}
.tute-screenm{
  position: relative;
  width:65vw;
  height:auto;
  margin:6px;
  
}
.input-email{
  position: relative;
  width:64%;
  border-radius: 5px;
  padding:5px;
  margin:5px;
}
.msg-ami{
  position: relative;
  font-size:0.8em;
  left:0px;
  right:0px;
  padding:2px;
  margin:auto;
}
.btn-mobile{
  position: relative;
  right:0px;
}
.close-ami{
  position: relative;
  cursor:pointer;
  z-index:100;
  border-radius: 3px;
  background-color:rgba(0,0,0,0.8);
  padding-left:4px;
  padding-right:4px;
  left:20%;
  bottom:10px;
  color:white !important;
}
.delete-dialog{
  width:90%;
  height:160px;
}
.profile-dp-know-more{
  width: 90%;
  height:300px;
}
}
@media only screen and (min-width:768px){
  #headblock{
    position: relative;
    transition:all 0.5s;
    padding:27px;
  }
  .store{
    padding-top:11%;
  }
  .myads-section{
    padding-top:11%;
  }
  .nav-btns{
    position: relative;
    margin:12px;
    right:1%;
    transition: all 0.5s;
    font-weight: 700;
    color:rgb(100, 92, 92);
    display: inline-block;
  }
  .nav-btns:hover{
    background-color:rgb(25, 129, 189);
    color:white !important;
  }
  .menu-mobile{
    display: none;
  }
  .mobile{
    display: none;
  }
  .login-form{
    top:95%;
  }
  .forgot-password-form{
    top:135%;
  }
  .main-heading{
    font-size: 2.0em;
    }
    .profile-activity-box-desktop{
      position: relative;
      margin-top: 15%;
    }
    .profile-activity-desktop{
      position: relative;
      display: block;
      height:20%;
      padding:13px;
      border-radius:5px;
      cursor:pointer;
      margin:17px;
      overflow-y: hidden;
      box-shadow:  0px 0px 3px 3px rgba(0,0,0,0.2);
    }
  .signup-form{
    position: relative;
    display:block;
    top:15%;
    padding:10px;
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.8);
    border-radius: 5%;
   }

.add-form{
  position: relative;
  display:block;
  padding:10px;
  box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.8);
  border-radius: 5%;
}

   .side-scrl{
     position:fixed;
     right:0px;
     width:3%;
     height:6%;
     overflow: hidden;
     background-color: black;
     bottom:400px;
     border: solid black 1px;
     border-top-left-radius: 25%;
     border-bottom-left-radius:  25%;
     box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
     transition:all 0.5s;
     color:white;
     cursor:pointer;
   }
 .side-scrl:hover{
   background-color: grey;
   transform:rotateX(360deg);
 }
 .ad-pic{
  width:52%;
  height:180px;
  margin:auto;
  border-radius:7%;
}
   .display-login{
     width:140%;
     height: auto;
     position: absolute;
     top:170px;
     padding-left: 80px;
   }
   .profile-info-know-more{
    position: relative;
    border-radius:10px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    height:60%;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);
    white-space: nowrap;
    width:100%;
    top:50px;
  }
  .know-more-inner{
    padding:4%;
  }
  .footer-img{
    position: relative;
    width:25%;
    height:auto;
    padding:8px;
  }
  .footer-heading{
    font-weight:500;
    color:rgb(255, 255, 255);
    font-size:1em;
  }
  .footer-text{
    color:rgb(182, 180, 180);
    font-size:1em;
  }
  .footer-icons{
    color:rgb(182, 180, 180) !important;
    cursor:pointer;
    font-size:1.5em;
    margin:3px;
    transition: all 0.3s;
  }
  .footer-logo{
    position: relative;
    width:80%;
    height: auto;
  }
  .header-logo{
    position: relative;
    width:45%;
    height: auto;
  }
  /*SEARCH
========*/

.input-search{
  display: inline;
  box-shadow:inset 0px 0px 2px 2px rgba(0,0,0,0.3) !important;
  border:none;
  border-top-left-radius:2px !important;
  border-bottom-left-radius:2px !important;
  padding-top:3px !important;
  padding-bottom:3px !important;
  padding-left:8px !important;
  padding-right:8px !important;
}
.btn-search{
  position: relative;
  border:none;
  right:4px;
  bottom:1px;
  padding-top:4.5px !important;
  padding-bottom:4.5px !important;
  padding-left:10px !important;
  padding-right:10px !important;
  border-top-left-radius:0px !important;
  border-bottom-left-radius:0px !important;
  display: inline;
}
.menu-mobile-con{
  display:none;
}
.profile-info{
  position: relative;
  border-radius:10px;
  background-color:rgba(0,0,0,0.8);
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);
  white-space: nowrap;
  margin-bottom:5px;
}
/*EDIT PROFILE SECTION 
======================*/

.edit-profile{
  width:100%;
  padding:20px;
  height:auto;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.edit-row{
  position: relative;
  top:15%;
}
.edit-label{
  position: relative;
  display:block;
  font-size: 1.0em;
  top:12px;
}
.edit-submit{
  position:relative;
  right:33%;
}
.report-btn{
  position: relative;
  z-index:10;
  top:60px;
}
.ev_info{
  display:none;
  position: fixed;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  z-index:500;
  width:75%;
  height:70%;
  background-color: rgba(251,251,251,0.9);
  margin:auto;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  border-radius:10px;
  transition: all 1s;
}
.tute-screend{
  position: relative;
  width:115%;
  margin-top:10px;
  margin-left:30px;
  top:28%;
}
.tute-screenm{
  position: relative;
  width:40%;
  margin:10px;
  top:28%;
}
.ami-btn-row{
  position: relative;
  top:15%;
}
.close-ami{
  position: relative;
  cursor:pointer;
  z-index:100;
  border-radius: 3px;
  background-color:rgba(0,0,0,0.8);
  padding-left:4px;
  padding-right:4px;
  left:30%;
  color:white !important;
}
.input-email{
  position: relative;
  width:67%;
  border-radius: 5px;
  padding:5px;
  margin:5px;
}
.msg-ami{
  position: absolute;
  font-size:1.0em;
  left:0px;
  right:0px;
  margin:auto;
  top:7%;
}
.delete-dialog{
  width:30%;
  height:160px;
}
.profile-dp-know-more{
  width: 55%;
  height:350px;
}
}
.search-block{
  position: relative;
  margin: auto;
  top:0px;
  left: 0px;
  right:0px;
  bottom:0px;
}
.seller-email{
  cursor:pointer;
  color:white;
  white-space: initial;
  word-wrap: break-word;
  transition: all 0.5s;
}
.seller-email:hover{
  color:rgb(109, 214, 109);
}
.seller-info-button{
      position: relative;
      padding:13px;
      border-radius:5px;
      cursor:pointer;
      margin:30px;
      overflow-y: hidden;
      font-family: 'Oswald', sans-serif;
      box-shadow:  0px 0px 3px 3px rgba(0,0,0,0.2);
}
.desc-head{
  position: relative;
  margin:auto;
  font-family: 'Chela One', cursive;
}
.desc{
  position: relative;
  margin:auto;
  width:100%;
  height:auto;
  white-space: initial;
  font-family: 'Rubik', sans-serif;
}
.post-add-section{
  position: relative;
  width:100%;
  height:auto;
  padding:50px;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.profile-section{
  position: relative;
  width:100%;
  height:auto;
  padding:7px;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.profile-section-know-more{
  position: relative;
  width:100%;
  height:auto;
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.myads-section{
  position: relative;
  width:100%;
  height:auto;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(43, 133, 218),rgb(77, 106, 133))
}
#submit-btn{
  position: relative;
  width:50% ;
  border-radius: 5px;
  padding:5px;
  margin:5px;
  background-color:black;
  border: #000 2px;
  color:white;
  cursor:pointer;
}
.ic-logout{
  position: relative;
  color:white;
  margin-left: 12%;
  margin-top:5%;
  float:left;
  transition: all 0.5s;
}
.inputs{
  position: relative;
  width:70%;
  border-radius: 5px;
  padding:5px;
  margin:5px;
}
select{
  -webkit-appearance:none;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.footblock{
  position: relative;
  background-color: black;
  color:white;
  padding-top:3%;
  width:100%;
  padding-bottom: 3%;
  box-shadow: 0px -2px 2px 2px rgb(0,0,0);
}
.logout-form{
  position: absolute;
  z-index: 20;
}
.infos{
  position: relative;
  display:block;
  font-size: 1.0em;
}
.store{
  width:100%;
  height:auto;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.home-store{
  width:100%;
  height:auto;
  padding: 20px;
  box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.3);
  background-image:linear-gradient(to bottom,rgb(25, 129, 189),rgb(18, 37, 61));
}
.image-box{
  position: relative;
  margin-top: 6%;
}

.profile-dp{
  position: relative;
  margin: auto;
  display:block;
  width: 90%;
  height:300px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}
.profile-upload-hide{
  display: none;
}

.profile-dp-know-more{
  position: relative;
  margin: auto;
  display:block;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}
.delete-dialog{
  position: absolute;
  display:none;
  padding:16px;
  border-radius:5px;
  background-color: rgba(251,251,251,0.9);
  margin: auto;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2);
}
.btn-dialog{
  margin:30px;
  cursor:pointer;
  font-family: 'Oswald', sans-serif;
}

/*MY ADDS SECTION
==================*/


.ad-block{
  position: relative;
  top: 25px;
  border-radius: 10px;
  width:90%;
  transition: all 1s;
  margin:auto;
  padding: 25px;
}
.ad-pagin{
  position:relative;
  top:20px;
  padding:4px;
}
.pagin-element-block{
  cursor: pointer;
}
.pagin-element{
  position: relative;
  width:30px;
  border-radius: 25%;
  height: auto;
  padding:3px;
  margin: 3px;
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
  color: black;
  text-decoration: none;
}
.pagin-element:hover{
  text-decoration: none;
  color:inherit;
  background-color: rgba(254,254,254,1);
}
.file_input{
  display: none;
}
.file_label{
  position: relative;
  color:white;
  background:#27ae60;
  cursor: pointer;
}
.ad-card{
  position: relative;
  width:100%;
  height: auto;
  margin:auto;
  margin-top: 30px;
  border-radius: 7%;
}

.know-more-card{
  position: relative;
  width:65%;
  height: auto;
  color:black;
  border-radius: 7%;
  margin:30px;
}
.ad-card-body{
  padding: 5px;
  margin:auto;
  color:white;
}
.ad-card-column{
  margin-bottom:60px;
}
.btn-know-more{
  color:black;
  background-color: rgba(251,251,251,0.7);
  font-family: 'Oswald', sans-serif;
}

.know-more-card-body{
  padding: 5px;
  margin:auto;
}

.ad-card-divider{
  background-color: white;
  width:60%;
}
.ad-row{
  position: relative;
  top:10%;
}
.ad-head{
 font-size: 0.9em;
 font-family: 'Oswald';
 letter-spacing: 0.1em;
}
.ad-info{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.7em;
  font-weight:400;
}
/*SLICK CAROUSEL*/

.slick{
  position: relative;
  width:100%;
  height:auto;
  background-image:linear-gradient(to bottom, rgb(175, 175, 165),rgb(216, 214, 205));
  box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.3);
}
.slick-prev{
   position: absolute;
   top:47%;
   left:3%;
   z-index:5;
   background-color:rgba(255, 255, 255, 0.8);
   width:25px;
   height:auto;
   border-radius:3px;
   box-shadow:0px 0px 2px 2px rgba(0,0,0,0.1);
}
.slick-next{
  position: absolute;
  top:47%;
  right:3%;
  z-index:5;
  background-color:rgba(255, 255, 255, 0.8);
  width:25px;
  height:auto;
  border-radius:3px;
  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.1);
}

/*FOOTER 
==============*/

.fa-heart{
  color:rgb(150, 39, 39) !important;
}

.footer-icons:hover{
  color:rgb(230, 227, 227) !important;
}
.hide{
  display:none;
}
.error{
  color:white;
}
.num-error{
  background-color: rgb(52, 33, 221);
  padding:1px;
  border-radius:3px;
}
.login-notice{
  color:white;
  background-color: rgb(52, 33, 221);
  padding:1px;
  border-radius:3px;
}